@import url('https://fonts.googleapis.com/css?family=Poppins:400,500');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins';
}

p {
  letter-spacing: 0.7px;
}

img {
  width: 100%;
  display: block;
}

input {
  outline: none;
  background: rgba(0, 0, 0, .2);
  border: 0;
  padding: 5px 15px;
  color: #edeceb;
}

::placeholder {
  color: #dfdedd;
}

.-full-width {
  width: 100%;
}

.-text-center {
  text-align: center;
}

.-center {
  left: 50%;
  transform: translateX(-50%);
}